<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
<section id="p1" class="content-section">
                <div class="section-heading">
                    <h1>When The<em> Blues Set In</em></h1>
                </div>
               <p>At various times, we all experience what is usually described as ‘the blues.’ When present, it’s difficult, if not impossible, to do what you know you should. The treatment of these minor, sub-clinical depressions should focus initially upon determining to what degree environmental factors are responsible for the symptoms. While ‘the blues’ can progress to major depression, there are vast differences between these two conditions. Clinical or major depressions are generally defined as those due to a biochemical disturbance within the brain.</p>
               <br>
               <p>A number of psychological disorders can be directly linked with chronic stress, although depression is one of the more common consequences. Up to 10% of the population will suffer from a major depression at some point during their lives. It is important to recognize that there are many types of depression. Reactive depression is a response to something about which you are appropriately upset, such as the loss of a job or the loss of a loved one. Or, the depression may be caused by factors, which aren’t readily apparent. Bipolar depression is characterized by negative emotions alternating with periods of mania. There is also schizoaffective disorder, during which symptoms of schizophrenia and depression are interspersed.</p>
               <br>
               <p>One of the neurotransmitters that has been implicated in depression is norepinephrine. The evidence linking this transmitter with negative affect is based upon studies showing that drugs capable of elevating this chemical within the body also alleviate the symptoms of depression. There also is evidence suggesting that there might be a genetic deficiency of the enzyme that produces norepinephrine. But, there has to be something that triggers the initial change in the norepinephrine. That trigger is often an environmental stressor. Problems do not arise as long as the susceptible person is not subjected to an event that causes the initial decrease in norepinephrine. Difficulties arise when the norepinephrine becomes depleted through chronic stress, and the neurons cannot produce adequate amounts to compensate. In other words, supply fails to keep pace with demand.</p>
               <br>
               <p>Norepinephrine is not the only neurotransmitter linked with depression. One of the most popular classes of drugs now used in treating depression is selective serotonin re-uptake inhibitors, indicating that this chemical is involved, as well.</p>
               <br>

                    <div class="section-content">
                        <div class="masonry">
                        <div class="row">
                           <ul>
                            <li>Major depression can be recognized through several, unrelenting symptoms, including:
                                <br>
                                <br>
                                <ol>
                                    <li>Overwhelming fatigue</li>
                                    <li>Impaired concentration</li>
                                    <li>Impaired memory</li>
                                    <li>Feelings of worthlessness</li>
                                    <li>Feeling overwhelmed</li>
                                    <li>Increase or decrease in appetite</li>
                                    <li>Changes in sleep behavior</li>
                                    <li>Decreased ability to experience pleasure</li>
                                </ol>
                            </li>
                           </ul>
                        </div>
                    </div>
                </div> 
                <p>It is important to realize that many of these same symptoms can occur as a consequence of a number of other illnesses unrelated to a chemical imbalance within the brain. Pancreatic cancer, dysfunction of the thyroid gland, as well as a deficiency in cortisol production may all result in such symptoms. A change in diet, regular exercise, and psychotherapy can each help in alleviating the symptoms of depression. But, when such efforts produce no positive effects, it is important to seek medical intervention to determine the underlying cause and proper treatment.</p>
            </section>
</div>
