

        <div class="sidebar-navigation hidde-sm hidden-xs">
            <div class="logo">
                <a href="#"><img src="app/styles/images/SGH-logo.png" width="90%"></a>
            <div><img src="app/styles/images/humanface.jpg" width="100%" alt="WellKom"></div>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#top">
                            <span class="rect"></span>
                            <span class="circle"></span>
                             Home
                        </a>
                    </li>
                    <li><a href="#featured"><span class="rect"></span>
                        <span class="circle"></span>Because I’m Too Emotional</a></li>
                    <li><a href="#projects"><span class="rect">
                        
                    </span>
                        <span class="circle"></span>Overview</a></li>

                    <li><a href="#video"><span class="rect"></span>
                        <span class="circle"></span>What Are Emotions?</a></li>
                    <li><a href="#p1"><span class="rect"></span>
                        <span class="circle"></span>When The Blues Set In</a></li>
                    <li><a href="#v1"><span class="rect"></span>
                        <span class="circle"></span>Seeking Counseling Or Psychotherapy</a></li>
                    <li><a href="#p2"><span class="rect"></span>
                        <span class="circle"></span>Seven Ways To Deal With Emotional Turmoil</a></li>
                    <li><a href="#v2"><span class="rect"></span>
                        <span class="circle"></span>When Panic Attacks</a></li>
                    <li><a href="#p3"><span class="rect"></span>
                        <span class="circle"></span>Overcoming Fear</a></li>
                    <li><a href="#v4"><span class="rect"></span>
                        <span class="circle"></span>Personal Notes</a></li>

                        <a href="#thankyou">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Thank you!
                        </a>
                    </li>
                </ul>
            </nav>
        </div>